<!-- 
<div id="app" style="margin-top: 130px; width: 100%;">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> </h6>
                
                <div class="position-relative mt-3 form-input"> <input (keypress)="keyPress($event)" 
                    minlength=10 maxlength=10 #model3="ngModel" class="form-control" name="mobile_no" [(ngModel)]="rec.mobile_no" required minlength="10" maxlength="10">
                    <div *ngIf="model3.hasError('minlength')" style="color: red">Enter 10 Digit Mobile Number</div>
                    <div *ngIf="model3.hasError('required')" style="color: red">Enter Mobile Number</div>
                </div>
                <div id="otp"  name="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input [(ngModel)]="otp" class="m-2 text-center form-control rounded" type="text" id="input1" v-on:keyup="inputenter(1)" maxlength="6" />  </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate" (click)="verify(otp,rec)">Validate</button> </div>
                <div class="mt-3 content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a class="text-decoration-none ms-3"><button class="btn btn-danger" (click)="resend()">Resend</button></a> </div>
            </div>
        </div>
    </div>
</div> -->


<div id="app">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> </h6>
                <div class="position-relative mt-3 form-input"> <input (keypress)="keyPress($event)" 
                    minlength=10 maxlength=10 #model3="ngModel" class="form-control" name="mobile_no" [(ngModel)]="rec.mobile_no" required minlength="10" maxlength="10">
                    <div *ngIf="model3.hasError('minlength')" style="color: red">Enter 10 Digit Mobile Number</div>
                    <div *ngIf="model3.hasError('required')" style="color: red">Enter Mobile Number</div>
                </div>
                <!-- <div id="otp" [(ngModel)]="otp" name="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="input1" v-on:keyup="inputenter(1)" maxlength="1" /> <input  class="m-2 text-center form-control rounded" v-on:keyup="inputenter(2)" type="text" id="input2" maxlength="1" /> <input  class="m-2 text-center form-control rounded" v-on:keyup="inputenter(3)" type="text" id="input3" maxlength="1" /> <input  class="m-2 text-center form-control rounded" v-on:keyup="inputenter(4)" type="text" id="input4" maxlength="1" /> </div> -->
                 <div id="otp" name="number" class="inputs d-flex flex-row justify-content-center mt-2"><input [(ngModel)]="otp" (keypress)="keyPress($event)" 
            minlength=2 maxlength=6 class="m-2 text-center form-control rounded" v-on:keyup="inputenter(4)" type="text" id="input4" maxlength="6" /> </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate" (click)="verify(otp,rec)">Validate</button> </div>
                <div class="mt-3 content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <button class="text-decoration-none ms-3 btn btn-danger" (click)="resend()">Resend</button> </div>
            </div>
        </div>
    </div>
</div>
